<div id="page-help">
    <fieldset>
        <legend><i class="fas fa-question-circle"></i> Aide</legend>

        <H2>Présentation</H2>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus turpis, tristique
            eu
            efficitur ut,
            congue sed dui. Nulla sit amet magna dictum, faucibus ante sit amet, tincidunt eros. Mauris augue dui,
            venenatis in mauris eu, aliquet facilisis mi. Donec aliquam venenatis urna, sed egestas metus accumsan nec.
            In auctor magna et bibendum mattis. Sed condimentum libero nunc, sit amet venenatis dolor interdum a. Proin
            sagittis arcu a facilisis condimentum. Sed consectetur enim in pellentesque tempor. Maecenas sit amet lorem
            ut tellus mattis interdum et ut mi. Vivamus posuere, diam et suscipit consequat, ex sem eleifend augue, a
            consequat est velit ut neque. Suspendisse magna arcu, lacinia ac fringilla vitae, sagittis a est. Ut semper
            lacinia dolor, ut posuere mauris molestie sed.</p>

        <div class="callout callout-primary">
            <h4>Default Callout</h4>
            This is a default callout.
        </div>

        <H2>Modes</H2>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus turpis, tristique
            eu
            efficitur ut,
            congue sed dui. Nulla sit amet magna dictum, faucibus ante sit amet, tincidunt eros. Mauris augue dui,
            venenatis in mauris eu, aliquet facilisis mi. Donec aliquam venenatis urna, sed egestas metus accumsan nec.
            In auctor magna et bibendum mattis. Sed condimentum libero nunc, sit amet venenatis dolor interdum a. Proin
            sagittis arcu a facilisis condimentum. Sed consectetur enim in pellentesque tempor. Maecenas sit amet lorem
            ut tellus mattis interdum et ut mi. Vivamus posuere, diam et suscipit consequat, ex sem eleifend augue, a
            consequat est velit ut neque. Suspendisse magna arcu, lacinia ac fringilla vitae, sagittis a est. Ut semper
            lacinia dolor, ut posuere mauris molestie sed.</p>

        <H4 class="subtitle">Saisie de donnée</H4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus turpis, tristique
            eu
            efficitur ut,
            congue sed dui. Nulla sit amet magna dictum, faucibus ante sit amet, tincidunt eros. Mauris augue dui,
            venenatis in mauris eu, aliquet facilisis mi. Donec aliquam venenatis urna, sed egestas metus accumsan nec.
            In auctor magna et bibendum mattis.</p>

        <H4 class="subtitle">Statistique</H4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus turpis, tristique
            eu
            efficitur ut,
            congue sed dui. Nulla sit amet magna dictum, faucibus ante sit amet, tincidunt eros. Mauris augue dui,
            venenatis in mauris eu, aliquet facilisis mi. Donec aliquam venenatis urna, sed egestas metus accumsan nec.
            In auctor magna et bibendum mattis.</p>

        <H4 class="subtitle">Edition</H4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus turpis, tristique
            eu
            efficitur ut,
            congue sed dui. Nulla sit amet magna dictum, faucibus ante sit amet, tincidunt eros. Mauris augue dui,
            venenatis in mauris eu, aliquet facilisis mi. Donec aliquam venenatis urna, sed egestas metus accumsan nec.
            In auctor magna et bibendum mattis.</p>

        <H2>Options</H2>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus turpis, tristique
            eu
            efficitur ut,
            congue sed dui. Nulla sit amet magna dictum, faucibus ante sit amet, tincidunt eros. Mauris augue dui,
            venenatis in mauris eu, aliquet facilisis mi. Donec aliquam venenatis urna, sed egestas metus accumsan nec.
            In auctor magna et bibendum mattis. Sed condimentum libero nunc, sit amet venenatis dolor interdum a. Proin
            sagittis arcu a facilisis condimentum. Sed consectetur enim in pellentesque tempor. Maecenas sit amet lorem
            ut tellus mattis interdum et ut mi. Vivamus posuere, diam et suscipit consequat, ex sem eleifend augue, a
            consequat est velit ut neque. Suspendisse magna arcu, lacinia ac fringilla vitae, sagittis a est. Ut semper
            lacinia dolor, ut posuere mauris molestie sed.</p>
    </fieldset>
</div>