{% extends 'skeleton/skeleton.html.twig' %}

{% block title %}The Nexus - Edit{% endblock %}

{% block page %}
<fieldset>
<legend>Infos</legend>

	<div class="alert alert-warning">Une info mais edit</div>
</fieldset>

{% endblock %}