{% extends 'skeleton/skeleton.html.twig' %}

{% block title %}The Nexus - Admin{% endblock %}

{% block page %}
<fieldset>
<legend>Infos</legend>

	<div class="alert alert-warning">Une info mais Admin</div>
</fieldset>

{% endblock %}