<div class="sidebar-header">
	<h3>Data Ingressum</h3>
	<strong>DI</strong>
</div>
<div id="sidebar-content"></div>

{% block script %}
 	<script src="{{ asset('assets/js/Menu.js') }}"></script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			var params = {
					url_ajax_menu : '{{path('ajax_menu') }}'
			};
	        
	    	Menu.Launch(params);
	    	Menu.Load();
        });
    </script>
{% endblock %}