<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<button type="button" id="sidebarCollapse" class="btn btn-primary">
			<i class="fas fa-align-left"></i> <span>Toggle Sidebar</span>
		</button>
		<button
			class="btn btn-dark d-inline-block d-lg-none ml-auto collapsed"
			type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<i class="fas fa-align-justify"></i>
		</button>
		<div class="navbar-collapse collapse" id="navbarSupportedContent"
			style="">
			<ul id="nav-menu-top" class="nav navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="#">[ <i class="fas fa-user-astronaut"></i> {{ app.user.name }} ]</a></li>
				<li class="nav-item active"><a id="link-mode" class="nav-link nav-modal" href="{{ path('ajax_modal_mode') }}#"><i class="fas fa-toggle-on"></i> Mode</a></li>
				<li class="nav-item active"><a id="link-option" class="nav-link nav-modal" href="{{ path('ajax_modal_option') }}#"><i class="fas fa-cogs"></i> Options</a></li>
				<li class="nav-item active"><a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

{% block javascripts %}
	<script type="text/javascript">
    	$(document).ready(function () {
    		$('#sidebarCollapse').on('click', function () {
    			$('#sidebar').toggleClass('active');
            });

            Navbar.Launch();
            Navbar.Event();
        });

    	/*$(function () {
    		  $('[data-toggle="tooltip"]').tooltip()
    		})*/
    </script>
{% endblock %}