{% extends 'base.html.twig' %}

{% block body %}
	<div class="wrapper">
    	<nav id="sidebar">
    	{% include 'include/leftmenu.html.twig' %}
    	</nav>
    	<div id="content">           
            {% include 'include/navbar.html.twig' %}
            <div id="page-content">
            	 {% block page %}{% endblock %}
            </div>
            <div id="content-modal"></div>
			<div id="content-toast"></div>
    	</div>
	</div>
{% endblock %}