<div id="modal-add-categorie" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="fas fa-plus"></i> Ajouter une catégorie</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">

                        <div class="form-group">
                            <label for="name">Titre de votre catégorie</label>
                            <input type="text" class="form-control" id="name"
                                   placeholder="Exemple : Mes voyages">
                        </div>

                        <div><i class="fas fa-plane fa-3x fa-fw" style="vertical-align: middle;"></i> - Choisir une autre icone</div>

                    </div>
                    <div class="col-4 border-left ">
                        <div class="border-primary shadow-sm">
                            <div>Aperçu</div>
                            <ul>
                                <li><i class="fas fa-train"></i> Catégorie démo</li>
                                <li><i class="fas fa-landmark"></i> Au travail</li>
                                <li><i class="fas fa-plane"></i> Mes voyages</li>
                            </ul>

                        </div>
                    </div>

                </div>


                <div class="text-primary font-italic"><small><i class="fas fa-info"></i> <i>Un rechargement
                            automatique
                            de la page sera appliqué une fois la fenetre fermée</i></small></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Créer ma catégorie</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#modal-add-categorie').modal({
            backdrop: 'static',
            show: true
        })

        $('#modal-option').on('hidden.bs.modal', function (e) {
            window.location.replace("{{ path('home') }}");
        })
    });

</script>