<div id="modal-add-categorie" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="fas fa-plus"></i> Ajouter une catégorie</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">

                        <label for="titre-categorie">Titre de ma catégorie</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary" type="button" data-url="{{ path('iconfa_categorie') }}" id="categorie-change-icon"><i id="categorie-icon-fa" class="fas fa-plane" data-fa="fa-plane"></i>
                                </button>
                            </div>
                            <input type="text" id="titre-categorie" class="form-control" placeholder="Mes voyages" aria-label=""
                                   aria-describedby="Nouvelle catégorie">
                        </div>

                        <div id="categorie-liste-fa">
                            <fieldset>
                                <legend>Astuces</legend>
                                <i class="fas fa-arrow-right"></i> Cliquez sur l'icone <i id="tips-icon" class="fas fa-plane"></i> pour la changer <br />
                                <i class="fas fa-arrow-right"></i> Utilise l'aperçu pour positionner ta catégorie

                            </fieldset>

                        </div>


                    </div>
                    <div class="col-4 border-left ">
                        <div class="border-primary shadow-sm">
                            <div>Aperçu</div>
                            <ul>
                                <li><i class="fas fa-train"></i> Catégorie démo</li>
                                <li><i class="fas fa-landmark"></i> Au travail</li>
                                <li><i class="fas fa-plane"></i> Mes voyages</li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-right" data-dismiss="modal">Créer ma catégorie
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#modal-add-categorie').modal({
            backdrop: 'static',
            show: true
        })

        $('#modal-option').on('hidden.bs.modal', function (e) {
            window.location.replace("{{ path('home') }}");
        })
    });
</script>

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            Categorie.Launch();
            Categorie.EventAdd();
        });
    </script>
{% endblock %}